# Wrok space
.vscode

# SDK
#himax_we1_sdk/
obj_socket_24/
#tensorflow/
#third_party/
tools/image_gen_cstm/output/
tools/image_gen_cstm/input/
tools/image_gen_cstm/*.bin
tools/image_gen_cstm/*.img

# export format
*.uf2
*.tflite

# model zone
!model_zoo/*.*